// primary colours
$primary-text: #13182c; //instock-black, global text color
$secondary-text: #5c667e; //slate, table column headers & placeholder text

// colour palette
$forest-green: #103900;
$teal: #00916e;
$key-lime: rgb(236, 255, 176);
$infra-red: #DB5461;
$infra-red-active: #ffb6bd;
$off-white: #fefae0
