@use "../../styles/global" as *;
@use "../../styles/colours" as *;

.card {
  background-color: rgba(236, 255, 176, 0.8);
  //   opacity: 0.5;
  height: 22rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 30%;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px, rgb(51, 51, 51) 0px 0px 0px 3px;

  &__name {
    font-size: 1.5rem;
  }

  &__rating {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &__location {
    font-weight: bold;
  }

  &__photo {
    border-radius: 0.75rem;
    margin: 0.5rem 0;
    height: 100%;
    object-fit: cover;
  }

  &__directions{
    text-decoration: none;
    color:$primary-text;

    &:hover{
      color: $secondary-text;
    }
  }
}
