@use "../../styles/global" as *;
@use "../../styles/colours" as *;

.homePage {
  background-color: $key-lime;
  background-image: url("../assets/images/humaaans-illustration.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: fill;
  min-height: 100vh;

  &-header {
    padding: 0 3rem;
    background-color: $teal;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      height: 6rem;
      display: block;
      width: 20rem;
      //   margin: auto;
      &:hover {
        cursor: pointer;
      }
    }

    &__user{
      display: flex;
      align-items: center;

      &:hover{
        cursor: pointer;
        color: $secondary-text;
      }
    }

    &__avatar{
      height: 2.5rem;
      margin-right: 1rem;
    }

    &__username{
      font-size: 1.5rem;
      font-weight:bold ;
    }
  }

  &__welcome {
    margin: 0 8rem;
    padding: 2rem;
    text-align: justify;
    background-color: rgba(236, 255, 176, 0.8);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px, rgb(51, 51, 51) 0px 0px 0px 3px;

    &__heading {
      font-size: 2.5rem;
      padding: 1rem 0;
      width: fit-content;
      margin: auto;
    }

    &__text {
      font-size: 1.8rem;
      font-weight: bold;
      padding: 1rem 0;
      line-height: 3rem;
    }
  }
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 3rem;
  &__button {
    @include button;
    min-width: 10.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $infra-red;

    &:hover {
      border: 3px solid rgb(51, 51, 51);
    }

    &--selected {
      background-color: $infra-red-active;
      border: 3px solid rgb(51, 51, 51);
    }
  }
}
